body {
  font-family: 'Work Sans', sans-serif !important;
  background-color: #efefef !important;
}

a {
  color: #475050 !important;
  text-decoration: none !important;
  cursor: pointer !important;
}

table td a.trail-page-link {
  border-bottom: 3px solid #2e9383 !important;
}

.appContainer {
    position: relative;
    z-index: 1;
}

.mainContainer {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
}

#main-container {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    z-index: 1;
}

#main-container table {
  margin: 50px 30px 50px 50px;
}

.logo {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#map-display {
    z-index: 1;
    margin-top: 7px;
    margin-bottom: 50px;
    position: sticky !important;
    top: 0 !important;
    padding: 50px 50px 50px 30px;
}

.listDisplay {
  margin-top: 30px;
}

.list {
  display: flex;
}

.evens {
    display: flex;
    background-color: rgb(122, 185, 119);
}

.odds {
    display: flex;
}

.column {
    float: left;
    width: 33.33%;
}

.column p {
    font-family: 'Arial';
    font-weight: 550;
}

.left {
    width: 40%;
}

.middle, .right {
    width: 30%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.length {
    margin-left: 100px;
}

.difficulty {
    margin-left: 50px;
}

.popup {
    margin: 0;
    padding: 0;
}

.popup-name {
    margin: 0;
    padding: 0;
}

.popup-summary {
    font-size: 10px;
    margin: 0;
    padding: 0;
}

.popup-difficulty {
    font-size: 10px;
    margin: 0;
    padding: 0;
}

#authorForm {
    border-radius: 5px;
    padding-top: 0;
    padding-left: 0;
}

.modalGuts {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    overflow: auto;
    background-color: #ffe4cb;
    text-align: center;
    border: 2px solid rgb(122, 185, 119);
    border-radius: 10px;
    z-index: 9999;
    font-family: 'Arial';
    font-weight: 250;
}

#trailName {
    font-size: 24px;
}

#trailImage {
    border: 2px solid rgb(122, 185, 119);
    border-radius: 10px;
    text-align: center;
    z-index: 2;
}

.navbars {
  padding-bottom: 30px;
}

.btn-secondary {
  color: #212529 !important;
  background-color: white !important;
  border-color: white !important;
}

.btn {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.dropdown-item:active {
  color: #212529 !important;
  text-decoration: none;
  background-color: white !important;
}

.navigation {
  padding: 30px 50px 0px 50px;
}

.navigation a {
  padding: 20px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.current-weather {
  text-align: right;
  padding-right: 69px;
  font-size: 12px;
}

.nav-item {
  padding-bottom: 0
}

.getUserTrails {
  padding: 0px 69px;
}

.table-name {
  padding-top: 40px;
  padding-bottom: 20px;
}

table#allTrails {
  overflow-y:scroll;
  height: 700px;
  display:block;
}

#hikedTrails {
  padding-top: 0px;
}

.trail-name {
  width: 400px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation p, .navigation a {
  padding: 0px 20px;
  margin: 0;
}

#userGreeting {
  margin-left: auto;
}

#searchForm {
  display:flex;
  justify-content: center;
  margin-bottom: 20px;
}

#searchForm input {
  padding: 5px 15px;
  width: 400px;
}

#searchForm input.submitButton {
  border: #2e9383 1px solid;
  padding: 5px 15px;
  width: 100px;
  color: white;
  background-color: #2e9383;
  border-radius: 0px;
}

.nav-content-container {
  min-height: 700px;
  background-color: #fff !important;
}

td.heart-space, th.heart-space{
  max-width: 50px !important;
}

/* Trails Page */

.trail-profile-container {
  display: flex;
  justify-content: center;
  padding: 20px 200px 50px 200px;
}

.trail-image img {
  padding: 10px 0px;
  width: 500px;
}

.trail-information {
  padding: 8px 30px;
  text-align: left;
}

.information h2 {
  text-align: left
}

.trail-header-name {
  font-size: 26px;
  font-weight: 800;
  padding-bottom: 10px;
  padding-top: 12px;
}

.headertrailpage {
  text-align: center;
}

.trailpage {
  text-align: center;
}

.trail-detail {
  padding-bottom: 12px;
}

.trailPageContainer {
  padding-top: 0;
  padding-left: 0;
  text-align: center;
}

.image {
  margin: auto;
  width: 55%;
}

/* Comments Section */

#commentForm {
    width: 400px;
    height: 100px;
    border-radius: 3px;
    padding: 15px;
}

.commentSubmit {
  width: 400px;
  padding: 13px;
  border: 1px solid #2e9383;
  margin-bottom: 20px;
  color: white;
  background-color: #2e9383;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.form-control:focus {
  border-color: #2e9383 !important;
}

.commentbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.comments-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-display {
  text-align: center;
  background-color: #efefef;
  width: 400px;
  padding: 27px 0px;
  margin: 20px;
  border-radius: 4px;
}

.comment-author {
  font-size: 12px;
}

.hiker-list {
  margin-top: 20px;
}

.hiker-header {
  font-size: 16px
}

.hiker-header span {
  border-bottom: 3px solid #2e9383 !important;
}

.hiker-username {
  font-size: 12px;
  margin-top: 5px;
}
