.signupArea {
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.login-container {
  padding: 50px 60px;
  background-color: white;
  width: 350px;
  position: relative;
}

.login-header {
  margin-top: 80px;
  text-align: center;
  padding-bottom: 18px;
}

.loginbtn {
  font-size: 12px !important;
  background: #2e9383;
  width: 100%;
  margin-left: auto !important;
  margin-right: auto;
  display: block;
  padding: 9px;
  color: white;
  text-transform: uppercase;
  border-radius: 2px;
  font-weight: 800;
}

.login-link {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 143px;
  padding-bottom: 20px;
}

.login-link  a {
  text-decoration: none;
  color: black;
}

.username, .password {
  width: 100%;
  margin-top: 10px;
  font-size: 12px;
  font-family: 'Work Sans', sans-serif;
  padding: 6px;
  box-sizing: border-box; /* add this */
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 border: 1px solid slategrey;
}
